body, button, h1, h2, h3, h4, h5, h6, p, img, a {
    background: none;
    border-radius: 0;
    border-color: transparent;
    box-shadow: none;
    text-decoration: none;
    font-family: Sofia Sans, sans-serif;
    color: var(--dark);
}

button, p, a {
    font-size: 16px;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/*
    Змінні
*/

:root {
    /* Білий */
    --white: #fff;
    --white85: #ffffffd9;

    /* Світлий */
    --mainLight: #E4E2FF;
    --mainLight75: hsla(244, 100%, 94%, 0.750);
    
    /* Чорний */
    --black: #000;
    
    /* Темний */
    --dark: #212121;
    --dark65: #212121a6;
    --parallaxMain: #191734;
    
    /* Основний */
    --main: #6358FF;
    --darkmain: #5045ec;
    --main35: #6257ff59;
    --main25: #6257ff40;
    --main50: #6257ff80;
    --main3: #6257ff08;

    /* Індекси */
    --index: calc(1vh + 1vw);
    --technologies-gap: calc(var(--index) * 10)
}


.container {
    max-width: 1250px;
    padding: 0 25px;
    margin: 0 auto;
}

.title__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: var(--main);
    width: min-content;
    margin-bottom: 10px;
    padding: 10px 25px;
    border-radius: 15px;
}

.subtitle__text {
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    color: var(--dark);
    line-height: 34px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 80px;
}


/* Адаптація */

@media screen and (max-width: 768px) {
    .container {
        padding: 0 35px;
    }

    .subtitle__text {
        font-size: 22px;
    }
}

@media screen and (max-width: 425px) {
    .container {
        padding: 0 15px;
    }

    .subtitle__text {
        font-size: 20px;
    }
}