body {
    background: var(--parallaxMain);
    overflow-x: hidden;
    color: var(--mainLight);
}

/* will-change */
.website-content, .hero, .main-header, .technologies__left, .technologies__right {
    will-change: transform;
}

h1, h2, p {
    color: var(--mainLight);
}

.header-section img {
    width: calc(var(--index) * 30);
    position: absolute;
    left: 50vw;
    top: 24vh;
}

.website-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    padding-top: 3vh;
}

.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(25, 23, 52, 0.8);
    border: 1px solid #373183;
    backdrop-filter: blur(10px);
    border-radius: 60px;
}

.nav-item {
    color: var(--mainLight);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 100px;
    transition: 0.2s;
}

.nav-item:nth-child(1) {border-radius: 100px 0 0 100px; padding-right: 30px;}
.nav-item:nth-child(2) {border-radius: 0 100px 100px 0; padding-left: 30px;}

.nav-item:hover {
    background: rgb(23, 21, 49);
}

.container-section {
    padding: 0 10vw;
}

.main-header {
    height: 100vh;
}

.main-title {
    font-size: calc(var(--index) * 7);
    line-height: 75%;
    letter-spacing: 3px;
    font-variant: all-small-caps;
    position: relative;
    top: 50vh;
    font-weight: 700;
}

.technologies {
    display: flex;
    padding-top: 35vh;
    gap: calc(var(--technologies-gap) * .2);
}

.technologies > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.technologies__left {
    padding-top: calc(var(--technologies-gap) * .5);
}

.technologies__item {
    max-width: calc(var(--index) * 21);
    margin-bottom: calc(var(--technologies-gap) * 1);
}

.text-block {
    position: relative;
    font-weight: 400;
}

.text-block__h {
    font-family: 'rum raisin';
    font-size: 8rem;
    letter-spacing: 0.1em;
}

.text-block__p {
    color: var(--mainLight75);
    letter-spacing: 0.1em;
}

#css-img {
    position: relative;
    top: 180px;
    margin-bottom: calc(var(--technologies-gap) * 2);
}

@media screen and (max-width: 768px) {
    .header-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .header-section img {
        max-width: 75%;
        position: relative;
        left: 0;
        top: 17vh;
        margin: 0 auto;
    }

    .main-title {
        font-size: calc(var(--index) * 7);
        text-align: center;
        top: 25vh;
    }

    .container-section {
        width: 100%;
    }

    .nav-item {
        padding: 15px 35px;
    }

    .nav-item:nth-child(1) {padding-right: 15px;}
    .nav-item:nth-child(2) {padding-left: 15px;}

    .technologies {
        flex-direction: column;
    }

    .technologies__item {
        max-width: 100%;
    }

    .technologies img {
        width: 50vw;
        margin-bottom: calc(var(--technologies-gap) * .3);
    }
    
    .text-block__h {
        text-align: center;
    }
}


@media screen and (max-width: 425px) {
    .main-title {
        font-size: calc(var(--index) * 6);
    }
    
    .nav-item {
        padding: 13px 35px;
        font-size: .8rem;
    }

    .technologies img {
        width: 100%;
    }

    .text-block__h {
        font-size: 6.5rem;
    }

    .text-block {
        margin-bottom: 150px;
    }
}