#js-anchor,
#diary-anchor,
#advances-anchor,
#frameworks-anchor {
    padding-top: 100px;
}


/* 
    Стилі навігації для мобілок
*/

.navigation__window {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background: rgba(255, 255, 255, 0.74);
    backdrop-filter: blur(15px);
    z-index: 1001;
    transition: 0.5s ease-in-out;
}

.navigation__window .line {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 20px;
    padding-right: 50px;
    justify-content: end;
    align-items: center;
}

.navigation__window .line img {
    height: 30px;
}

.navigation__window .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.navigation__window a {
    color: var(--dark65);
    font-size: 25px;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-weight: 600;
}

.navigation__window .active {
    color: var(--dark);
    font-size: 32px;
    font-weight: 900;
}

.nav-active {
    display: block;
}

/* Адаптація */

@media screen and (min-width: 769px) {
    .navigation__window,
    .header__menu {
        display: none;
    }
}


/* 
    Шапка
*/

.header {
    width: 100%;
    max-width: 1850px;
    min-height: 500px;
    margin: 0 auto;
}

.header__line {
    width: 100%;
    height: 80px;
    background: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__line > img {
    height: 30px;
}

.nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav__item {
    color: var(--dark65);
}

.active {
    color: var(--dark);
}

.website {
    background: #6358FF;
    border-radius: 15px;
    padding: 10px 25px;
    color: var(--white);
}

.website::before {
    content: url(../img/play_icon.svg);
    margin-right: 5px;
}

.header__content {
    background: linear-gradient(257.16deg, #EEEEFA 0%, #CECEFC 22.92%, #DDE2F6 47.92%, #CBEAFC 72.4%, #DAEDFC 100%);
    width: 90%;
    height: 600px;
    margin: 0 auto;
    margin-top: 110px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 150px;
}

.header__logo a,
.footer__logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 23px;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-family: 'Poppins';
    text-transform: uppercase;
}

.header__logo img,
.footer__logo img {
    height: 40px;
}

.header__title {
    font-size: 60px;
    margin-bottom: 10px;
}

.header__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.header__button {
    background: #6358FF;
    border-radius: 15px;
    padding: 13px 37px;
    margin: 0 auto;
    width: max-content;
}

.header__button button {
    color: var(--white);
}

.header__button:hover,
.header__button button:hover {
    cursor: pointer;
}

.header__toolbar {
    max-width: 800px;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    top: -110px;
    background: var(--white85);
    box-shadow: 0px 4px 20px hsla(244, 100%, 67%, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.toolbar__content {
    display: flex;
}

.toolbar-item {
    height: 50px;
    color: var(--dark65);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    transition: 0.2s;
}

.toolbar-item:first-child {
    border-radius: 20px 0 0 20px;
}

.toolbar-item:last-child {
    border-radius: 0 20px 20px 0;
}

.toolbar-item:hover {
    background: var(--main);
    color: var(--white);
}

/* Адаптація */

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .header__title {
        font-size: 48px;
    }

    .header__subtitle {
        font-size: 16px;
    }

    .header__button {
        padding: 11px 30px;
    }

    .header__toolbar {
        max-width: 600px;
        top: -240px;
    }

    .toolbar__content {
        flex-direction: column;
    }

    .toolbar-item:first-child {
        border-radius: 20px 20px 0 0;
    }
    
    .toolbar-item:last-child {
        border-radius: 0 0 20px 20px;
    }
}

@media screen and (max-width: 425px) {
    .header__title {
        font-size: 32px;
    }

    .header__subtitle {
        font-size: 15px;
    }

    .header__button {
        padding: 9px 25px;
    }

    .header__button button {
        font-size: 15px;
    }

    .toolbar-item {
        font-size: 14px;
        height: 40px;
        padding: 0px 25px;
    }
}


/* 
    javascript
*/

.js__block {
    margin-bottom: 120px;
}

.js__block_text {
    width: 100%;
}

.title__text {
    margin-bottom: 5px;
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: var(--main);
    padding: 10px 25px;
    border-radius: 15px;
    width: min-content;
}

.subtitle__text {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: var(--dark);
}

.js__block .title__text {
    margin: 0 auto;
}

.js__block_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    row-gap: 75px;
}

.js__card {
    width: 260px;
    min-height: 170px;
    background-color: var(--main3);
    border: 1px solid var(--main35);
    border-radius: 30px;
    padding: 45px 20px 30px 20px;
    margin: 0 auto;
    position: relative;
}

.js__card-img {
    height: 60px;
    width: 60px;
    border-radius: 15px;
}

.js__card-image {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -30px;
    left: 0px;
}

.js__card-title {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.js__card-description {
    text-align: center;
    color: #333333;
}


/* 
    Інтересні джерела 
*/

.interesting__sources {
    background: #F6F5FC;
    width: 100%;
    overflow: hidden;

    min-height: 500px;
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
}

.interesting__sources .title__text{
    margin: 0px auto;
}

.sources__scroll {
    width: 100%;
}

.sources__card {
    max-width: 230px;
    width: 230px;
    min-width: 230px;
    display: block;
    height: fit-content;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.sources__card-img img {
    width: 100%;
    height: 130px;
    border-radius: 20px 20px 0 0;
}

.sources__card-text {
    padding: 15px 20px 20px 20px;
    width: 100%;
}

.sources__card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sources__card-source {
    font-size: 15px;
    color: #444444;
}

.slider__button-box {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.slider__button {
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 5%);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.slider__button:hover {
    transform: translateY(-5px);
}

.slick-track {
    display: flex;
    gap: 50px;
    transition: 1s;
}


/* 
    Баннер
*/

.banner__1 {
    max-width: 800px;
    min-height: 200px;
    background: #6358FF;
    border-radius: 20px;
    margin: 0 auto;
    padding: 30px 125px;
    margin-bottom: 50px;
}

.banner__title {
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.banner__button {
    width: 110px;
    height: 40px;
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 0 auto; 
    cursor: pointer;
}

.banner__button button {
    font-weight: 700;
    cursor: pointer;
}

/* Адаптація */

@media screen and (max-width: 768px) {
    .banner__1 {
        padding: 30px 50px;
    }

    .banner__title {
        font-size: 22px;
    }
}

@media screen and (max-width: 425px) {
    .banner__1 {
        padding: 30px 25px;
    }

    .banner__title {
        font-size: 20px;
    }
}


/* 
    Щоденник
*/

.diary {
    width: 100%;
    margin-bottom: 100px;
}

.diary__block {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    height: 100%;
    width: 100%;
}

.diary__list {
    width: 50%;
    height: 500px;
    padding-right: 15px;
    overflow-y: scroll;
}

.diary__list::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
    border-radius: 50%;
}

.diary__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main);
}

.diary__list::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f9f9fd;
}

.diary-item {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.day {
    min-width: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--main35);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    color: var(--dark);
    transition: 0.2s;
}
.day span {
    display: none;
    color: var(--white);
}
.day:hover {
    cursor: pointer;
    min-width: 100px;
    background: var(--main);
    color: var(--white);
}
.day:hover span {
    display: block;
}

.diary-item .description {
    width: 100%;
    height: 50px;
    border: 1px solid var(--main35);
    border-radius: 20px;
    padding: 14px 24px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.diary__info {
    width: 50%;
}

.diary__info p {
    text-align: left;
    margin: 0;
}

.diary__img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    margin-top: 25px;
    border-radius: 20px;
}

/* Адаптація */

@media screen and (max-width: 1024px) {
    .diary__block {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .diary__list {
        width: 100%;
    }

    .diary__info {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .diary__block {
        gap: 50px;
    }

    .diary__list-title {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .diary__block {
        gap: 30px;
    }

    .diary__list-title {
        font-size: 14px;
    }
}


/* 
    Переваги
*/

.advances {
    width: 100%;
    background: linear-gradient(180deg, #F6F5FC 0%, rgba(246, 245, 252, 0) 100%);
    padding: 80px 0;
    margin-bottom: 70px;
}

.advances .title__text {
    margin: 0 auto; 
}

.advances__content {
    width: 100%;
    padding: 70px 130px 100px 130px;
    border: 1px solid var(--main35);
    border-radius: 30px;
}

.advances__content .title__text {
    margin-bottom: 20px;
}

.advances__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}

/* Адаптація */

@media screen and (max-width: 768px) {
    .advances__content {
        padding: 35px 65px 50px 65px;
    }

    .advances__text {
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    .advances__content {
        padding: 20px 30px 25px 30px;
    }

    .advances__text {
        font-size: 16px;
    }
}



/* 
    Баннер
*/

.banner__2 {
    max-width: 800px;
    padding: 80px 150px;
    background: linear-gradient(259.58deg, #E9E7FB 0%, #D4D4FE 53.56%, #D4E9FA 100%);
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.banner__2 .banner__title {
    margin-bottom: 10px;
    color: var(--dark);
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

.banner__subtitle {
    color: var(--dark65);
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

.banner__2 .banner__button {
    background: #3b4075;
    border-radius: 15px;
}

.banner__2 .banner__button button {
    color: var(--white);
}

/* Адаптація */

@media screen and (max-width: 768px) {
    .banner__2 {
        padding: 65px 75px;
    }

    .banner__title {
        font-size: 22px;
    }

    .banner__subtitle {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .banner__2 {
        padding: 45px 25px;
    }

    .banner__title {
        font-size: 20px;
    }

    .banner__subtitle {
        font-size: 14px;
    }
}


/* 
    Фреймворки
*/

.frameworks {
    margin-bottom: 100px;
}

.frameworks__container {
    display: flex;
    justify-content: space-between;
}

.frameworks__left p {
    text-align: left;
}

.frameworks__left .subtitle__text {
    margin-bottom: 50px;
}

.frameworks__items:first-child {
    margin-bottom: 40px;
}

.frameworks__items {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 100px;
    justify-content: space-between;
}

.frameworks__item {
    width: 260px;
}

.fw__img {
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
}

.fw__title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.fw__description {
    font-size: 15px;
    color: #444444;
}

.frameworks__right-img {
    border-radius: 20px;
    height: 500px;
    width: auto;
}

/* Адаптація */

@media screen and (max-width: 1120px) {
    .frameworks__right{
        display: none;
    }

    .frameworks__container {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .frameworks .title__text {
        margin: 0 auto;
    }
    
    .frameworks__item p {
        text-align: center;
    }

    .frameworks__items {
        justify-content: center;
    }

    .frameworks__items:first-child {
        margin-bottom: 100px;
    }

    .fw__img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .frameworks__left p {
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .fw__title {
        font-size: 16px;
    }

    .fw__description {
        font-size: 14px;
    }
}


/* 
    Підвал
*/

footer {
    
}

.footer__line {
    display: flex;
    padding: 100px 0 30px 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.footer__nav {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__nav a {
    color: var(--dark65);
    transition: 0.2s;
}

.footer__nav a:hover {
    color: var(--dark);
}

.footer__contact {
    display: flex;
    gap: 15px;
}

.footer__rights {
    width: 100%;
    padding-top: 25px;
    margin-bottom: 70px;
    text-align: center;
    position: relative;
}

.footer__rights::before {
    content: "";
    height: 1px;
    width: 100%;
    background: var(--main25);
    top: 0;
    left: 0;
    position: absolute;
}

.footer__rights .rights {
    color: var(--dark65);
    font-size: 12px;
    font-weight: 300;
}

/* Адаптація */

@media screen and (max-width: 768px) {
    .footer__line {
        align-items: center;
        flex-direction: column;
    }
}


/* 
    Шапка щоденника
*/

.header__diary {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 110px;
    width: 90%;
    margin-bottom: 120px;
    max-width: 1240px;
}

.header__diary .text {
    min-width: 300px;
    flex: 2;
}

.header__diary .subtitle__text {
    margin-bottom: 15px;
    text-align: left;
}

.header__diary .description {
    line-height: 21px;
    letter-spacing: 0.1em;
    color: var(--dark65);
}

.header__diary img {
    height: 350px;
    border-radius: 30px;
    width: 600px;
    min-width: 300px;
    object-fit: cover;
    flex: 3;
}

/* 
    Адаптація
*/

@media screen and (max-width: 768px) {
    .header__diary {
        flex-wrap: wrap;
    }
}


/* 
    Щоденник
*/

.diary-days {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.diary-days .level__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main);
    margin-bottom: 20px;
}

.diary-days .days {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
}

.diary-days .day__block {
    width: 110px;
    display: flex;
    justify-content: center;
}


/* 
    Шапка розказу
*/

.header__day {
    /* background: linear-gradient(257.16deg, #EEEEFA 0%, #CECEFC 22.92%, #DDE2F6 47.92%, #CBEAFC 72.4%, #DAEDFC 100%); */
    background: var(--main);
    color: var(--white85);
    height: 400px;
    width: clamp(200px, 90%, 400px);
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 120px;
    padding: 20px;
    border-radius: 37% 63% 37% 63% / 52% 31% 69% 48% ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    font-weight: 700;
}

/* 
    Адаптація
*/

@media screen and (max-width: 768px) {
    .header__day {
        font-size: 120px;
    }
}

@media screen and (max-width: 375px) {
    .header__day {
        font-size: 90px;
        height: 300px;
    }
}


/* 
    Стилі розказу
*/

.narration {
    display: flex;
    flex-direction: column;
    border: 1px solid #E4E2FF;
    border-radius: 40px;
    padding: 30px 30px;
    margin-bottom: 30px;
}

.narration__title {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.narration__paragraph {
    margin-bottom: 30px;
    text-align: justify;
    line-height: 140%;
}

.narration__paragraph li {
    margin-left: 35px;
}

.code__examples {
    width: 100%;
    align-self: center;
}

.day__word-mark {
    background: var(--main);
    color: var(--white85);
    padding: 2px 5px;
}

/* 
    Адаптація
*/

@media screen and (max-width: 1024px) {
    .narration {
        margin-left: 10px;
        margin-right: 10px;
    }
}


/* 
    Стилі кнопок навігації між сторінками
*/

.page__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.page__buttons button {
    border-radius: 17px;
    background: var(--main);
    color: var(--white);
    font-weight: 500;
    line-height: 19px;
    padding: 13px 40px;
    transition: 0.2s;
}

.page__buttons button:hover {
    cursor: pointer;
    background: var(--darkmain);
}