.themes {
    width: 100%;
    margin: 100px 0;
}

.themes__block {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    /* flex-wrap: wrap; */
}

.themes__list {
    width: 100%;
}

.themes__list-item {
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgba(99, 88, 255, 0.35);
    width: 100%;
    margin-bottom: 20px;
}

.themes__list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.themes__list-title {
    /* margin-bottom: 15px; */
}

.themes__list-bottom {
    color: #444;
}

.themes__info p {
    text-align: left;
    margin: 0;
}

.themes__img {
    width: 100%;
    max-width: 565px;
    height: auto;
    margin-top: 25px;
    border-radius: 20px;
}

/* Адаптація */

@media screen and (max-width: 1024px) {
    .themes__block {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px) {
    .themes__block {
        gap: 50px;
    }

    .themes__list-title {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .themes__block {
        gap: 30px;
    }

    .themes__list-title {
        font-size: 14px;
    }
}